

.top{
	background-color: #000080;
	text-align: center;
	color: white;
}

.take1{
	background-color: whitesmoke;
	margin: 10px;
	padding-top: 5px;
}

.take1 h4{
	text-align: center;
	font-family:"Oswald",sans-serif;
}

.take1 h3{
	text-align:center;
	font-family:"Oswald",sans-serif;
}

h1{
	font-family: "Oswald",sans-serif;
}

h2{
	font-family: "Oswald",sans-serif;
}

h3{
	font-family: "Oswald",sans-serif;
}

h4{
	font-family: "Oswald",sans-serif;
}

h5{
	font-family: "Oswald",sans-serif;
}

p{
	font-family: "Ariel", sans-serif;
}

.important{
	margin-bottom: 10px;
}

.quote{
	background-color: whitesmoke;
	margin: 10px;
	padding-top: 50px;
	text-align:center;

}


